.chatsidebar{
    flex: 1;
    position: relative;
    background-color: #526D82;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    @media (max-width: 425px) {
        
        max-width: 50%;
        text-overflow: ellipsis;
        white-space: initial;
     }
}
