@media (max-width: 320px) {
  .navbar a.navbar-brand {
    width: 70%;
    margin: 0 auto;
    color: #e0e3e8;
  }

  .nav-item {
    width: calc(var(--nav-size) * 1);
    display: flex;
    justify-content: center;
  }
  .dropdown {
    position: absolute;
    top: 90px;
    width: 300px;
    transform: translateX(-33%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }

  .side-navbar {
    width: 100%;
  }
  .sidebar {
    width: 80%;
  }
}
